@import url(css.css);

/* Sections */
#section1 {}


#cv{background-color: #b8a1ce;
    color: black;padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}

#cv:hover{background-color: #c8c9e6;}




#section1-div1,
#section1-div2 {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

/* Skill Section */
.skill-category {
    background-color: transparent;
    width: 70%;
    padding: 10px;
    margin: auto;
}

.skill-title {
    display: inline-block;
}

.skill-section {
    text-align: left;
}

.skill-name {
    margin: 0px;
    font-size: 16px;
}

.skill-item {
    width: fit-content;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}

#skill-item-1 { background-color: #BDBFF0; }
#skill-item-2 { background-color: #F6CEC8; }
#skill-item-3 { background-color: rgb(199, 234, 238); }
#skill-item-4 { background-color: rgb(245, 246, 167); }
#skill-item-5 { background-color: rgb(206, 238, 159); }
#skill-item-6 { background-color: rgb(240, 205, 143); }
#skill-item-7 { background-color: rgb(159, 204, 173); }

/* Icons */
.fa-brands,
.fa-solid {
    font-size: 24px;
    width: fit-content;
    vertical-align: middle;
}

.division { width: 30px; }

#division-line {
    width: 1px;
    height: 40px;
    background-color: black;
}

.break { height: 30px; }

/* About Cards */
.about-card {
    background-color: rgba(255, 255, 255, 0.76);
    display: inline-block;
    border-radius: 20px;
    width: 20%;
    padding: 20px;
    text-align: center;
}

.fa-solid { font-size: 36px; color: #484b91; }

/* ====== Responsive Media Queries ====== */
@media screen and (max-width: 1024px) {
    #section1-div1,
    #section1-div2 {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .skill-category {
        width: 90%;
    }

    .about-card {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .about-card {
        width: 80%;
        margin: 10px auto;
    }

    .skill-item {
        display: block;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) {
    .skill-item {
        padding-inline: 10px;
        font-size: 14px;
    }

    .fa-brands,
    .fa-solid {
        font-size: 20px;
    }

    .about-card {
        width: 95%;
        padding: 15px;
    }
}
