@import url(css.css);

p{font-size: 16px;}
body {
    background-image: url(media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#section-1 {
    padding-inline: 5%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

#section1-1 {
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: column;
    width:50%;
}

#section1-2 {
    display: inline-flex;
    vertical-align: middle;
}

#my-image {
    width: 300px;
    max-width: 90%;
    height: auto;
}

#intro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: fit-content;
}

 #intro,#name,p{
        text-align: center;
        margin: 0px;
        text-align: left;
    }

#name,
#surname {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #734F96;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
}

#surname {
    color: #b8a1ce;
}



#brief{padding-block: 20px;

}

#seperator{color: #734F96;}


.header-item-container img#logo {
    max-width: 150px;
}




@media screen and (max-width: 1024px) {
    #section-1 {
        flex-direction: column;
    }

    #section1-1, #section1-2 {
        display: block;
        text-align: center;
    }

    #intro,#name{
        text-align: center;
        margin: 0px;
    }

    #name, #surname {
        font-size: 40px;
    }

    #my-image {
        width: 250px;
    }


}

@media screen and (max-width: 768px) {
    #name, #surname {
        font-size: 35px;
    }

    #my-image {
        width: 100%;
    }


}

@media screen and (max-width: 480px) {
    #name, #surname {
        font-size: 28px;
    }

    #my-image {
        width: 50%;
    }
}
